<article class="post">
    <h2 class="title">
       {{title}}
    </h2>
    <p>
        {{contents}}
    </p>
    <div class="meta">
        by <span class="username">{{user.username}}</span> on {{format_date created_at}}
        <a href="/post/{{id}}">{{comments.length}} {{format_plural comments.length "comment"}}</a>
    </div>
</article>